#DATA STRUCTURES

Q:1-  What are data structures, and why are they important?

-: A data structure is a way of organizing, storing, and managing data in a computer so that it can be used efficiently.Data structures are the backbone of efficient programming.

data structure are important for:-

1)efficiency
2)memory management
3)reusability
4)scalability


 Q:2- Explain the difference between mutable and immutable data types with examples?

 -: MUTABLE DATATYPE:

 Objects whose values can be changed/modified after creation without changing their identity (memory location).Examples{List,Dictionary,Set}.

 IMMUTABLE DATATYPES:

 Objects whose values cannot be changed after creation. Any modification creates a new object in memory.Examples{Integer,Float,String,Tuple,Boolean}

Q:3- What are the main differences between lists and tuples in Python?

-: LIST:

A list in Python is a mutable, ordered collection of items that can store heterogeneous data types (integers, strings, objects, etc).it has many built-in methods like-append(), .remove(), .sort()
Syntax:list is created by square brackets [].

TUPLES:

A tuple in Python is an immutable, ordered collection of items that can also store heterogeneous data types..tuple has limited methods (.count(), .index())
syntax:tuple is created with parentheses ().

Q:4- Describe how dictionaries store data?

-: Dictionaries store data as 'key-value pairs" using a data structure called a hash table.The hash value determines where the key-value pair will be stored in memory.

Q:5- Why might you use a set instead of a list in Python?

ANS:use a set instead of a list when you want unique elements and fast membership tests, especially if you plan to do math-like operations on collections.

Reasons to use a set instead of a list:

Automatic Duplicate Removal
Sets cannot contain duplicates.
Example:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)   # {1, 2, 3}
Set Operations (Math-like)
Sets support union, intersection, difference, and other operations that lists dont natively support.
Example:
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)  # Intersection → {3}
print(a | b)  # Union → {1, 2, 3, 4, 5}

Q:6- What is a string in Python, and how is it different from a list?

-: A string is a sequence of characters enclosed in quotes ('Hello', "World")
 A list is a collection of items.

 Differences: Strings are immutable (cannot be changed in place).
Lists are mutable (you can add, remove, or modify elements).
Strings only hold characters, while lists can hold any type of objects.

Q:7- How do tuples ensure data integrity in Python3?

-: If Tuple is created then we can not update or change , modify after the creation , they are fixed. -Tuples are immutable , because of that they can protect the data form accidenatal change.
They are used to store fixed and constant data.

Q:8- What is a hash table, and how does it relate to dictionaries in Python?

-: A hash table is a data structure that stores key-value pairs and allows fast access using a hash function.
In Python, dictionaries are implemented using hash tables.
Keys are hashed to determine where to store/retrieve values.

Q:9- Can lists contain different data types in Python?

-: Yes,lists are heterogeneous collections,that's why it contain different data types.
Example:my_list = [42, "hello", 3.14, True, [1, 2, 3]]

Q:10-Explain why strings are immutable in Python?

-: Strings are immutable , because they ensures or protect the data form accidenatal change, modification.
string also ensure data integrity
strings are immutable because of that they used as key in dictionaries

Q:11- What advantages do dictionaries offer over lists for certain tasks?

-: Dictionaries allow for fast lookups using keys
Lists require searching through elements (O(n)).
Dictionaries are better when you need to associate unique identifiers (keys) with values, rather than relying on positional indexes.


Q:12- Describe a scenario where using a tuple would be preferable over a list?

-: Aadhar details cannot be modify , change once issued. Tuples ensure no accidental change.
so in this we can use tuple to store the Aadhar information.

Q:13- How do sets handle duplicate values in Python?

Set can only allows unique values.
If user can give dupicates values at the type of printing or performing the opertions they can automatically delete or remove the duplicates and only print the unique values.

Q:14- How does the “in” keyword work differently for lists and dictionaries?

-: For lists, "in" checks if a value exists among the elements.
3 in [1, 2, 3]  # True
For dictionaries, "in" checks if a key exists (not values).
d = {"a": 1, "b": 2}
"a" in d   # True
1 in d     # False

Q:15- Can you modify the elements of a tuple? Explain why or why not?

-: No, tuples are immutable. Once created, their elements cannot be changed.
This immutability makes them hashable (usable as dictionary keys) and ensures data integrity.

Q:16- What is a nested dictionary, and give an example of its use case?
-: A nested dictionary is a dictionary where values are dictionaries themselves.
Useful for representing hierarchical or structured data.
EXAMPLE:

students = {
    "Alice": {"age": 20, "grade": "A"},
    "Jocky": {"age": 22, "grade": "B"}
}

Q:17- Describe the time complexity of accessing elements in a dictionary?

-: The time complexity of retrieving a value by its key in a dictionary is
 O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

Q:18- In what situations are lists preferred over dictionaries?

-: List are preferred when the orderd is important because list can maintain the order by using indexing
list can use when we only need a values not a keys
it is also use when the duplicates are required.

Q:19- Why are dictionaries considered unordered, and how does that affect data retrieval?

-: A dictionary is often referred to as an unordered collection of objects because the elements within a dictionary are not arranged in a specific order.
How this affects data retrieval:-

1)Direct access is order-independent.You retrieve values by their key, not by position.Example:

my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print(my_dict["banana"])  

2)When you loop through a dictionary, you now get items in insertion order (Python 3.7+). But logically, you shouldn't rely on the order unless you explicitly need it.
Example:

for key in my_dict:
    print(key)

Q:20- Explain the difference between a list and a dictionary in terms of data retrieval?

-: LIST:-Use a list when order matters and you want to retrieve elements by their position.

Retrieval method: By index (position).

Example:

my_list = ["apple", "banana", "cherry"]
print(my_list[1])   # "banana"

DICTIONARY:-Use a dictionary when you want to retrieve elements by a meaningful key quickly, regardless of order.
Retrieval method: By key (mapping).

Example:

my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print(my_dict["banana"])   # 2

#PRACTICAL QUESTIONS

In [1]:
#write the code to create a string with your name and print it.
name="ayush tiwari"
print(name)

ayush tiwari

In [2]:
# Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [14]:
#Write a code to convert the string "hello" to uppercase.
text="hello"
print(text.upper())

HELLO

In [4]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [5]:
#Write a code to create a list with numbers 1 to 5 and print it.
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [6]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [7]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2=[1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [8]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

In [9]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list4=[10,20,30,40,50]
list4.reverse()
print(list4)

[50, 40, 30, 20, 10]

In [10]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [11]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [12]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [13]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [16]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'c', 'b', 'a'}

In [17]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [18]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [19]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set2={1,2,3}
set3={3,4,5}
print(set2.union(set3))

{1, 2, 3, 4, 5}

In [20]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set4 = {1, 2, 3}
set5 = {2, 3, 4}
print(set4.intersection(set5))

{2, 3}

In [21]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person1 = {"name": "John", "age": 25, "city": "New York"}
print(person1)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person3 = {'name': 'Alice', 'age': 30}
print(person3["name"])

Alice

In [24]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person4["age"]
print(person4)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person5)

True

In [26]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (10, 20, 30)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(10, 20, 30)
{'a': 1, 'b': 2}

In [27]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[5, 42, 49, 92, 97]

In [28]:
#Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "mango"]
print(string_list[3])

date

In [29]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# Write a code to convert a list of strings into a set.
str_list = ["apple", "banana", "cherry", "apple"]
str_set = set(str_list)
print(str_set)

{'cherry', 'apple', 'banana'}